@use "abstracts" as *;
@use "tools" as *;
@use "tools/mixins" as *;


// * BASE
body{
    margin: 0;
    padding: 0;
    border: 0;
    @include font-family($font--title, 400);
    color: setcolor(black);
}
*{
    box-sizing: border-box;
}
header{
    background: setcolor(blue);
    padding: $container--padd-mix;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    position: sticky;
    top: 0;
    z-index: 1;
}
button{
    border-radius: $border--rad-min;
    padding: $button-text--padd;
    font-size: $button--font-size;
    cursor: pointer;
    @include font-family($font--title, 500);
    @include flex;
    gap: $gap--min;

    img{
        height: 21px;
    }
}
a{
    cursor: pointer;
    text-decoration: none;
}
main{
    padding: $main--padd;
}
p::selection {
    background: setcolor(blue);
    color: setcolor(white);
}
p::-moz-selection { /* Firefox */
    background: setcolor(blue);
    color: setcolor(white);
}