@import "vars/colors";
@import "vars/typography";
@import "vars/sizes";

@import "components/buttons";
@import "components/inputs";
@import "components/messages";
@import "components/outlines";
@import "components/slider";

@import "pages/home";
@import "pages/library";

@import "tools/animations";
@import "tools/breakpoints";
@import "tools/crossbrowsing";
@import "tools/mixins";

body{
    margin: 0;
    padding: 0;
    border: 0;
    @include font-family($font--title, 400);
    color: setcolor(black);
}
*{
    box-sizing: border-box;
}
header{
    background: setcolor(blue);
    padding: $container--padd-max;
    width: 100%;
    
    display: grid;
    grid-template-columns: 245.35px auto 419.45px;
    align-items: center;
    gap: $gap--max;

    > img{
        height: 30px;
        cursor: pointer;
    }
}
button{
    border-radius: $border--rad-min;
    padding: $button-text--padd;
    font-size: $button--font-size;
    cursor: pointer;
    @include font-family($font--title, 600);
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: $gap--min;

    img{
        height: 21px;
    }
}
.label{
    background: setcolor(yellow);
    padding: $button-text--padd;
    border-radius: $border--rad-min;
    border: $border--px solid setcolor(orange);
    color: setcolor(orange);
    @include font-family($font--title,500);
    @include noselect;
    font-size: $description--font-size;
}
a{
    cursor: pointer;
}
.a--icon{
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 100%;
    cursor: pointer;

    img{
        height: 100%;
    }
}
main{
    padding: $main--padd;
}
footer{
    background: setcolor(white, lights);
    border: $border--px solid setcolor(gray, light);
}
.box--ow{
    background: setcolor(white, light);
    border: $border--px solid setcolor(gray, light);
    border-radius: $border--rad-max;
}