@import "components/color";
@import "components/button";
@import "components/size";
@import "components/font";
@import "components/outline";
@import "components/input";

// TODO Corregir color blanco para botón afirmativo puede ser poco legible
// TODO Corregir que se puedan arrastrar y seleccionar elementos

body{
    margin: 0;
    padding: 0;
    border: 0;
    @include font-family($font--title, 400);
}
*{
    box-sizing: border-box;
}
header{
    background: setcolor(blue);
    padding: $container--padd-max;

    img{
        height: 30px;
    }
}
button{
    border-radius: $border--rad-min;
    padding: $button-text--padd;
    font-size: $button--font-size;
    cursor: pointer;

    font-family: 'Inter', sans-serif;
    font-weight: 500;

    display: flex;
    justify-content: center;

    img{
        height: 21px;
        margin-left: 10px;
    }
}



// Label
.label{
    background: setcolor(yellow);
    padding: $button-text--padd;
    border-radius: $border--rad-min;
    border: $border--px solid setcolor(orange);
    color: setcolor(orange);
    @include font-family($font--title,500);
}

// Propiedades provisionales para previsualizar
// los estilos de cada elemento
#container--temp{
    border: 1px solid setcolor(gray, light);
    padding: 25px;
    border-radius: $border--rad-max;
    position: relative;

    display: grid;
    grid-template-columns: auto;
    gap: 25px;

    #container--title{
        background: setcolor(white);
        transform: translate(25px, -10px);
        position: absolute;
        font-family: unset;
        padding: 0 10px;
        @include font-family($font--head,500);
    }
}
.parent{
    margin: 25px 25px;
    float: left;
}
.onblue{
    background: setcolor(blue);
}
a{
    cursor: pointer;
}
.a--icon{
    width: 35px;
    height: 35px;
    border-radius: 100%;
    cursor: pointer;

    img{
        width: 100%;
    }
}

// HHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHHH
.message{
    border-radius: $border--rad-min;
    min-width: 400px;

    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;

    h3, p, div{
        border: 1px solid red;
    }
    h3, p{
        margin: 0;
    }
    div{
        grid-row: 1 / 3;

        width: 50px;
        height: 50px;

        line-height: 50px;
        text-align: center;

        background: setcolor(white, light);
        // border: $border--px solid setcolor(gray, light);
    }
}