@import "components/color";
@import "components/button";
@import "components/size";
@import "components/font";
@import "components/outline";
@import "components/input";
@import "components/message";
@import "compatibility";

@import "pages/home";
@import "pages/animations";

body{
    margin: 0;
    padding: 0;
    border: 0;
    @include font-family($font--title, 400);
}
*{
    box-sizing: border-box;
}
header{
    background: setcolor(blue);
    padding: $container--padd-max;
    width: 100%;
    
    display: grid;
    grid-template-columns: 245.35px auto 419.45px;
    align-items: center;
    gap: $gap--max;

    > img{
        height: 30px;
        cursor: pointer;
    }
}
button{
    border-radius: $border--rad-min;
    padding: $button-text--padd;
    font-size: $button--font-size;
    cursor: pointer;

    @include font-family($font--title, 600);

    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    gap: $gap--min;

    img{
        height: 21px;
    }
}



// Label
.label{
    background: setcolor(yellow);
    padding: $button-text--padd;
    border-radius: $border--rad-min;
    border: $border--px solid setcolor(orange);
    color: setcolor(orange);
    @include font-family($font--title,500);
    @include noselect;
}
a{
    cursor: pointer;
}
.a--icon{
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 100%;
    cursor: pointer;

    img{
        height: 100%;
    }
}
 
// Propiedades provisionales para previsualizar
// los estilos de cada elemento
#container--library{
    border: 1px solid setcolor(gray, light);
    padding: 25px;
    border-radius: $border--rad-max;
    position: relative;

    display: grid;
    grid-template-columns: auto;
    gap: 25px;

    #container--library-title{
        background: setcolor(white);
        transform: translate(25px, -10px);
        position: absolute;
        font-family: unset;
        padding: 0 10px;
        @include font-family($font--head,500);
    }
}
.parent{
    margin: 25px 25px;
    float: left;
}
.onblue{
    background: setcolor(blue);
}