@use "../abstracts" as *;
@use "../tools/mixins" as *;

// * HEADER
header{
    #header--logo{
        display: flex;
        align-items: center;

        svg{
            height: $logo--height-max;
        }
    }
    #header--nav--buttons{
        display: flex;
        justify-content: right;
    }
}
main{
    padding: $main--padd
}
// * SLIDER
.container--slider{
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}
.slider{
    display: flex;
    // El width debe ser equivalente a nuestra cantidad de imagenes, 
    // cada imagen ocupa 100%, por lo que 3 imagenes son igual a 300%.
    // El cambio en el width no afecta a su función en slider.js
    width: 300%;
    max-height: 400px;
    margin-left: -100%;

}
.slider--section{
    width: 100%;
    
    img{
        display: block;
        width: 100%;
    }
}
.slider--button{
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    top: calc(50% - 25px);
    @include flex;
    padding: 0;
    opacity: .25;
    transition: .1s;

    &:hover{
        opacity: 1;
    }
    
    i{
        font-size: $i--font-size-max;
    }
}
.slider--button-r{
    right: $container--padd-max;
}
.slider--button-l{
    left: $container--padd-max;
}

// * CONTENEDOR HEADER LINKS
.nav--buttons{
    @include flex;
    gap: $gap--max;
}

// * TARJETAS DE PRODUCTO 
#main--products{
    @include flex;
}
#container--catalog{
    width: 952px;
    max-width: $cont--p-card--min-width;
}
#catalog{
    width: 100%;
    display: flex;
    grid-template-columns: auto auto auto;
    gap: $gap--max;
    flex-wrap: wrap;
}
.product--card{
    max-width: 300px;
    cursor: pointer;
    transition: $short--animation-duration;

    &:hover{
        // transform: translateY(-5px);

        #product--orig-price{
            transform: translateY(0px);
            opacity: 1;
        }
    }    
}
.product--image{
    width: 100%;
    height: calc(300px - 2px);
    border-bottom: $border--px solid setcolor(gray, light);
    background: setcolor(white);
    @include flex;
    position: relative;
    overflow: hidden;
    
    .label{
        position: absolute;
        top: $container--padd-min;
        right: $container--padd-min;
    }

    img{
        width: 100%;
    }
}
.product--info{
    display: grid;
    grid-template-columns: auto auto;
    transition: $short--animation-duration;
    padding: $container--padd-max;

    #product--title{
        margin-top: 0;
        margin-bottom: 8px;
        grid-column: 1 / 3;
    }
    #product--description{
        margin-top: 0;
        grid-column: 1 / 3;
    }
    #product--price{
        margin: 0;
        grid-row: 3 / 5;
        align-self: flex-end;
    }
    #product--orig-price{
        margin: 0;
        text-decoration: line-through;
        opacity: 0;
        transition: $short--animation-duration;
        grid-column: 2 / 3;
        text-align: right;
        transform: translateY(16px);
    }
    #product--discount{
        text-align: right;
        margin: 0;
        color: setcolor(green);
        font-weight: 600;
    }
}
// * FOOTER
footer{
    background: setcolor(white, light);
    border: $border--px solid setcolor(gray, light);
    padding: $container--padd-mix;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;

    div{
        padding: $container--padd-min 0;

        > img{
            height: $i--font-size-mid;
        }

        p{
            margin: $font--margin 0;
            width: 100%;
        }
    }
}
// * ELEMENTOS DEL GRID
#footer--logo{
    grid-column: 1 / 3;
    height: $logo--height-min;
    padding: 0;
    margin: 0 0 $container--padd-min 0;

    img{
        height: 100%;
    }
}
#footer--buttons{
    border-bottom: $border--px solid setcolor(gray, light);
    justify-content: right;
    padding-top: 0;

    .outl--blue-ow{
        &:hover{
            border: $border--px solid transparent;
        }
    }

    .input--ow{
        &:hover{
            border: $border--px solid setcolor(blue);
        }
    }
}
#footer--number{
    @include flex(center, left);
    gap: $gap--min;
    border-bottom: $border--px solid setcolor(gray, light);
    position: relative;
    padding-top: 0;

    p{
        @include flex(center,left);
        gap: $gap--min;
        position: absolute;
        bottom: 0;
    }
}
#footer--adress{
    position: relative;
    padding-bottom: 0;

    p{
        position: absolute;
        top: 0;
    }
}
#footer--currencies{
    @include flex(center,right);
    gap: $gap--max;
    padding-bottom: 0;
}
#cryptocurrencies{
    @include flex;
    gap: $gap--max;
    padding: $gap--min;
}
// * CORRECCIONES
#i-footer--visa{
    height: 25px;
}

// * LOGO ANIMATION

// Figura R
#logo-header--shape{
    opacity: 1;
    animation: logo__header_s $logo--animation-duration;
}
// Letra R
#logo-header--r{
    opacity: 1;
    animation: logo__header_r $logo--animation-duration;
    transform: translateY(73px);
}
// Letras restantes después de la R (ESTECH)
.logo-header--i{
    animation: logo__header_i $logo--animation-duration;
}

// * Paginación
.pagination{
    @include flex;
    gap: $gap--min;
    padding-top: $container--padd-max * 5;
}