@use "../abstracts" as *;
@use "../tools/mixins" as *;

/**
 * * Panel
 * Estos estilos se usan para elementos de vista panel
 */

/**
  * * Login
  */
.container-login{
    @include flex;
    flex-direction: column;
    height: 100vh;
}
.panel--logo{
    position: absolute;
    top: $container--padd-max * 2;

    img{
        height: 35px;
    }
}
.panel--login{
    width: 336px;

    .message{
        margin-bottom: $container--padd-max * 2;
    }
    form{
        > div, > label{
            margin-bottom: $container--padd-max;
        }
        label{
            float: left;
        }
        input[type=submit]{
            width: 100%;
            margin-top: 100px;
        }
    }
}
/**
  * * Panel
  */
#panel{
    width: 100%;
    padding: $container--padd-max;
    background: setcolor(white);
    display: grid;
    grid-template-columns: 90px auto;
    grid-template-rows: 85px auto auto;

    h2{
        color: setcolor(black);
    }
    header, main{
        width: 100%;
    }
    /**
      * * Nav
      * Estos estilos se usan para establecer la barra de navegación
      * de herramientas
      */
    nav:first-child{
        width: 65px;
        background: setcolor(white);
        border: $border--px solid setcolor(gray, light);
        height: calc(100vh - 50px);
        border-radius: $border--rad-max $border--rad-max 30px 30px;
        padding: $container--padd-mid;
        // position: fixed;
        position: sticky;
        top: 25px;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: $gap--max;

        .nav-load{
            i{
                color: setcolor(blue);
            }
        }
        div{
            cursor: pointer;
            width: 35px;
            height: 35px;
            border-radius: $border--rad-min;
            position: relative;
            @include flex(center, left);

            i{
                color: setcolor(gray);
                font-size: $i--font-size-min;
                width: 100%;
                height: 100%;
                @include flex;
            }
            &:hover{
                background: setcolor(white, light);

                i{
                    color: setcolor(blue);
                }

                span{
                    left: 40px;
                    opacity: 1;
                }
            }
            span{
                background: setcolor(white);
                border: $border--px solid setcolor(gray, light);
                white-space: nowrap;
                position: absolute;
                left: 30px;
                padding: $container--padd-mix-min;
                border-radius: $border--rad-min;
                opacity: 0;
                transition: $animation-duration--min;
                pointer-events: none;
                z-index: 1;
            }
        }
        #logo{
            img{
                width: 100%;
            }
        }
        #stock{
            i{
                color: setcolor(blue);
            }
        }
        #logout{
            position: absolute;
            bottom: $container--padd-mid;
            border-radius: 100%;
        }
    }
    /**
      * * Header
      */
    header{
        background: transparent;
        padding: 0;
        @include flex;
        margin-bottom: $container--padd-max;
        z-index: initial;
        position: initial;
        gap: $gap--max;

        form{
            width: 100%;
        }
        .button--positive-ow{
            padding-left: 19px;

            i{
                color: setcolor(white);
            }
        }
        .message{
            h3{
                white-space: nowrap;
            }
            p{
                text-align: right;
                white-space: nowrap;
            }
            div{
                line-height: 35px;
            }
        }
        .manual{
            i{
                color: setcolor(black);
            }
            &:hover{
                i{
                    color: setcolor(blue);
                }
            }
        }
    }
    /**
    * * Panel CRUD
    */
    .main-panel-table{
        grid-column: 2 / 3;

        .table-container{
            margin-bottom: 0;
            
            .table-panel{
                thead{
                    tr{
                        th{
                            text-align: center;
                        }
                        .th--id{
                            width: 4%;
                        }
                        .th--image{
                            width: 8%;
                        }
                        .th--name{
                            width: 13%;
                        }
                        .th--sku, .th--price, .th--price-disc, .th--stock{
                            width: 10%;
                        }
                        .th--label{
                            width: 15%;
                        }
                        .th--crud{
                            width: 20%;
                        }
                    }
                }
                tbody{
                    .tr--empty:hover{
                        background: setcolor(white);
                    }
                    tr{
                        &:hover{
                            background: setcolor(gray, patt);
                        }
                        td{
                            padding: $container--padd-min;
                            text-align: center;
        
                            // &:first-child{
                            //     border-left: 0;
                            // }
                        }
                        .td--label{
                            text-align: left;
                        }
                        .td--marca{
                            text-align: left;
                            font-weight: 600;
                        }
                        .td--price{
                            white-space: nowrap;
                        }
                        .td--stock{
                            white-space: nowrap;
                        }
                    }
                }
                .img-container{
                    width: 75px;
                    height: 75px;
                    background: setcolor(white);
                    border-radius: $border--rad-mid;
                    overflow: hidden;
                    @include flex;
                    cursor: pointer;
        
                    img{
                        width: 100%;
                        height: 100%;
                    }
                    .noimage-50{
                        width: initial;
                        height: initial;
                    }
                }
                .button--alternative-ow, .button--negative-ow{
                    margin: 0 auto;
                    i{
                        color: white;
                    }
                }
                .button--neutral-ow{
                    margin: 0 auto;
                }
                .label--b{
                    margin-top: $container--padd-min;
                }
            }
        }
    }
    /**
     * * Paginate
     */
      #paginate{
        margin: $container--padd-max 0 0 0;
        grid-column: 2 / 3;
    }
}
/**
 * * Modal
 * Estos estilos se usan para establecer el modal donde se cargan
 * los formularios CRUD
 */
.modal-shadow--panel{
    z-index: 11;
    display: none;
    top: 0;
    position: fixed;
}
.modal-container{
    width: 100%;
    height: 100vh;
    z-index: 12;
    display: none;
    position: absolute;
}
.modal{
    background: setcolor(white);
    width: 1051px;
    max-width: 1051px;
    height: calc(100% - 50px);
    border-radius: $border--rad-max;
    padding: $container--padd-max;
    animation: slideUpModal $animation-duration--mid linear;
    margin: 0 auto;
    margin-top: 25px;

    .content{
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        
        form{
            display: flex;
            flex-direction: column;
            gap: $gap--mid;
        }
        .header{
            background: setcolor(white);
            border-bottom: $border--px solid setcolor(gray, light);
            position: sticky;
            top: 0;
            margin: 0 $container--padd-max 0     0;
            z-index: 10;
            padding: 3px;
            padding-bottom: $container--padd-mid;
            display: grid;
            grid-template-columns: 81px auto 127px;

            h2{
                margin: 0;
                display: flex;
                align-self: center;
                padding-left: $container--padd-mid;
            }
            .btn-close{
                width: 81px;
                display: flex;
                justify-content: left;
                align-self: center;

                .shortcut-keys{
                    right: 5px;
                }
            }
        }
        .group{
            background: setcolor(white, light);
            width: calc(100% - 25px);
            border: $border--px solid setcolor(gray, light);
            padding: $container--padd-mid;
            border-radius: $border--rad-mid;

            .instructions{
                margin-bottom: $container--padd-min;
                position: relative;
                h2, h3{
                    margin: 0;
                }
                p{
                    margin-top: 0;
                }
                h3{
                    margin-bottom: 3px;
                }
            }
            .fields{
                display: flex;
                justify-content: left;
                flex-flow: row wrap;
                gap: $gap--mid;

                .item{
                    .name{
                       p{
                        margin: $container--padd-min 0;
                       }
                    }
                    .input{
                        // Cuando se intentar hacer submit al form se ejecuta
                        // jquery validate e inyecta los siguiente estilos
                        input.error, textarea.error{
                            border: $border--px solid setcolor(red);
                            outline: $outline--px solid setcolor(red, outl);
                        }
                        label.error{
                            background: transparent;
                            border: 0;
                            width: 100%;
                            color: setcolor(red);
                            white-space: nowrap;
                            font-size: $paragraph--font-size;
                            pointer-events: none;
                            display: block;
                            text-align: right;
                            transform: translateY(-23px);
                        }
                    }
                    .discod{
                        select{
                            width: 60px;
                            margin-left: $container--padd-min;
                        }
                    }
                    textarea{
                        width: 593px;
                        height: 35px;
                        min-height: 35px;
                        border-radius: $border--rad-min;
                        padding: $container--padd-min;
                    }
                }
                .item-file-upload{
                    display: flex;
                    flex-flow: row wrap;
                    gap: $gap--mid;
                }
            }
        }
        .subgroup{
            width: 100%;

            .fields{
                display: grid;
                grid-template-columns: auto auto auto;

                .item{
                    width: 289px;

                    .input{
                        min-width: initial;
                    }
                }
                .textarea{
                    width: initial;
                    max-width: 593px;
                }
            }
        }
        .loading{
            width: 50px;
            height: 100%;
            margin: 0 auto;
            @include flex;

            i{
                font-size: $i--font-size-mega;
                color: setcolor(gray, light);
                animation: loading 1s infinite linear;
            }
        }
    }
}
.modal-mid{
    width: 600px;
    height: fit-content;
    margin-top: 15%;

    .content{
        overflow: auto;
    }
    .header{
        width: 100%;
    }
    h2{
        grid-column: 1 / 4;
    }
}
.form-delete{
    width: 100%;
    height: 100%;

    .buttons{
        display: flex;
        flex-direction: row;
        gap: $gap--mid;

        button{
            width: 50%;
            margin: 3px;
        }
        .shortcut-keys{
            right: 5px;
        }
    }
}