@use "../abstracts" as *;
@use "../tools/mixins" as *;

/**
  * * BASE
  */
#product--info, #product--specs, #product--wty{
    width: 935px;
    min-width: 935px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}
#product--specs, #product--wty{
    > div{
        width: 905px;
    }
}
/**
  * * INFO
  */
#product--info{
    flex-direction: row;
    gap: $gap--max;
    position: relative;
    margin-top: 50px;
}
#container--imgs{
    display: flex;
    flex-direction: row-reverse;
    gap: $gap--min;

    .noimage-75{
        width: initial;
    }
}

#img--prod-preview{
    height: 410px;
    width: 410px;
    border: $border--px solid setcolor(gray, light);
    border-radius: $border--rad-mid;
    @include flex;
    overflow: hidden;
    // * Pattern
    background-color: #ffffff;
    background-image:  linear-gradient(setcolor(gray, patt) 1.1px, transparent 1.1px), linear-gradient(to right, setcolor(gray, patt) 1.1px, #ffffff 1.1px);
    background-size: 20px 20px;
    background-position: 0;

    img{
        overflow: hidden;
        width: 100%;
        cursor: zoom-in;
    }
}

#img--prod-items{
    display: flex;
    flex-direction: column;
    gap: $gap--min;

    .img--miniature{
        width: 50px;
        height: 50px;
        border: $border--px solid setcolor(gray, light);
        border-radius: $border--rad-mid;
        overflow: hidden;
        cursor: pointer;
        @include flex;

        &:hover{
            border: $border--px solid setcolor(blue);
        }

        img{
            width: 100%;

        }
    }
}

#zoom{
    width: 410px;
    height: 410px;
    position: absolute;
    z-index: 3;
    visibility: hidden;
    background-position: 150px 50px;
    background-repeat: no-repeat;
    background-size: 250%;
    transform: translateX(calc(100% + 25px));
}

#container--dets{
    width: 410px;
    position: relative;

    h1{
        margin: 0;
    }
    h2{
        margin: $container--padd-micro 0;
    }
    #info--sku{
        margin-top: 0px;
    }
    .label{
        margin-bottom: $gap--max;
        margin-right: $gap--min;
    }
    #info--disc-price{
        margin-bottom: 0;
        text-decoration: line-through;
    }
    #info--iva{
        margin-top: 0;
    }
    #info--units{
        color: setcolor(blue);
        margin-top: $gap--max;
        position: absolute;
        bottom: 43px;
    }
    #info--buy{
        width: 100%;
        position: absolute;
        bottom: 0;

        img{
            position: absolute;
            right: 25px;
        }
    }
}
/**
  * * SPECS
  */
#product--specs{
    display: flex;
    gap: $gap--max;
    padding: 0;
    margin-bottom: 25px;
    
    #product--specs-items{
        h1{
            width: 100%;
        }
        section{
            min-height: 1000px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            column-gap: $gap--max;

            table{
                border-spacing: 0;
                font-size: $paragraph--font-size;
                overflow: visible;

                caption{
                    h3{
                        margin-top: 0;
                        text-align: left;
                    }
                }
                // Tr's totales
                tr{
                    // Primer td de cada tr
                    td:nth-child(1){
                        width: 50%;
                    }
                    // Segundo td de cada tr
                    td:nth-child(2){
                        font-weight: 600;
                    }
                }
                // Tr's pares
                tr:nth-child(even){
                    background: setcolor(white);
                    // Td's totales de tr's pares 
                    td{
                        border-top: $border--px solid setcolor(gray, light);
                        border-bottom: $border--px solid setcolor(gray, light);
                    }
                }
                // Último tr de la table
                tr:last-child{
                    // Primer td de último tr
                    td:nth-child(1){
                        border-bottom-left-radius: $border--rad-mid;
                        border-bottom: 0;
                    }
                    // Segundo td de último tr
                    td:nth-child(2){
                        border-bottom-right-radius: $border--rad-mid;
                        border-bottom: 0;
                    }
                }
                
            }
        }
    }
}   
/**
  * * WTY
  */
#product--wty{
    margin-bottom: $container--padd-max;
}
#product--wty-items{
    display: flex;
    gap: $gap--max;
    flex-direction: row;

    div{
        width: 100%;
        padding: $container--padd-max;
        @include flex;
        flex-direction: column;

        i{
            font-size: $i--font-size-mega;
            color: setcolor(blue);
        }

        p{
            margin-bottom: 0;
            text-align: center;
        }
    }
}
/**
  * * TOUCH SLIDER
  */
.touch-slider{
    width: 100vw;
    height: 100vw;
    overflow: hidden;
    border-bottom: 1px solid setcolor(gray, light);
    position: relative;

    .count{
        position: absolute;
        background: setcolor(white, light);
        border: $border--px solid setcolor(gray, light);
        z-index: 1;
        padding: $container--padd-micro;
        margin: $container--padd-min;
        border-radius: $border--rad-min;

        p{
            margin: 0;
        }
    }

    .slider-container{
        height: 100vw;
        display: inline-flex;
        overflow: hidden;
        transform: translateX(0);
        transition: transform $animation-duration--mid ease-out;
        cursor: grab;
        position: relative;

        .slide{
            max-height: 100vw;
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            user-select: none;
            overflow: hidden;
        
            img{
                width: 100%;
                height: 100%;
                transition: transform $animation-duration--mid ease-in-out;
            }
        }
    }
}


.grabbing{
    cursor: grabbing;

    .slide{
        img{
            transform: scale(0.9);
        }
    }
}
/**
  * * SCROLL TO TOP
  */
.scrollTop{
    background: setcolor(blue);
    width: 50px;
    height: 50px;
    position: fixed;
    left: $container--padd-max;
    bottom: $container--padd-max; 
    border-radius: 100%;
    z-index: 2;
    display: none;
    opacity: .75;
    cursor: pointer;
    
    i{
        width: 100%;
        height: 100%;
        font-size: $i--font-size-mid;
        color: setcolor(white);
        @include flex;
    }

    &:hover{
        opacity: 1;
    }
}