@use "../abstracts/" as *;

// * Anula el select de un elemento
@mixin noselect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

// * Color del placeholder de los inputs
@mixin placeholder--color{
  ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: setcolor(gray);
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: setcolor(gray);
    opacity:  1;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: setcolor(gray);
    opacity:  1;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: setcolor(gray);
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: setcolor(gray);
  }

  ::placeholder { /* Most modern browsers support this now. */
    color: setcolor(gray);
  }
}