@use "tools" as *;
/**
  * * BASE
  * Estilos de aplicación general
  */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    @include font-family($font--title, 400);
    color: setcolor(black);

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: transparent; 
        // border: $border--px solid setcolor(gray, light);
    }
    &::-webkit-scrollbar-thumb {
        background-color: setcolor(gray);
    }
}
#universal--container{
    background: setcolor(white);
    margin: 0 auto;
    position: relative;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    scroll-behavior: smooth;
}
header{
    background: setcolor(blue);
    position: sticky;
    top: 0;
    z-index: 8;
    padding: 0 100px;

    .header--container{
        width: 100%;
        max-width: 1235px;
        height: 100px;
        margin: 0 auto;
        @include flex(center, space-between);
        flex-direction: row;
        gap: $gap--max;
    }
}
footer{
    background: setcolor(white);
    width: 100%;
    border-top: $border--px solid setcolor(gray, light);
    padding: $container--padd-mix;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;
}
button, input[type=submit], .btn-upload{
    height: 43px;
    border-radius: $border--rad-mid;
    padding: $button-text--padd;
    font-size: $button--font-size;
    cursor: pointer;
    @include font-family($font--head);
    @include flex;
    gap: $gap--min;
    white-space: nowrap;
    position: relative;

    img{
        height: 21px;
    }
}
select{
    border-radius: $border--rad-min;
    padding: 4.5px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: setcolor(black);
}
a:active{
    color: setcolor(black);
}
p::selection {
    background: setcolor(blue);
    color: setcolor(white);
}
p::-moz-selection { /* Firefox */
    background: setcolor(blue);
    color: setcolor(white);
}
i{
    color: setcolor(black);
}
span{
    font-size: $paragraph--font-size;
}
i{
    font-size: $i--font-size-min;
    color: setcolor(black);
}