@use "tools" as *;
/**
  * * BASE
  * Estilos de aplicación general
  */
@font-face {
    font-family: 'Pacifico';
    font-style: normal;
    font-weight: 400;
    src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
    font-display: swap;
}
body{
    margin: 0;
    padding: 0;
    border: 0;
    @include font-family($font--title, 400);
    color: setcolor(black);

    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }
    &::-webkit-scrollbar-track {
        background: #F1F1F1; 
    }
    &::-webkit-scrollbar-thumb {
        background: #C0C0C0;
    }
}
#universal--container{
    width: 100%;
    background: setcolor(white);
    margin: 0 auto;
    position: relative;
    // overflow: hidden;
}
*{
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0,0,0,0); 
    scroll-behavior: smooth;
}
header{
    background: setcolor(blue);
    position: sticky;
    top: 0;
    z-index: 8;
    padding: 0 100px;

    .header--container{
        width: 100%;
        max-width: 1235px;
        height: 100px;
        margin: 0 auto;
        @include flex(center, space-between);
        flex-direction: row;
        gap: $gap--max;
        
        #header--logo{
            height: 100%;
            @include flex(center, left);
    
            img, a{
                height: $logo--height-min;
            }
        }
        form{
            width: 100%;
        }
    }
    
}
footer{
    background: setcolor(white);
    width: 100%;
    border-top: $border--px solid setcolor(gray, light);
    padding: $container--padd-mix;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto auto;

    div{
        padding: $container--padd-min 0;

        > img{
            height: $i--font-size-mid;
        }

        p{
            margin: $font--margin 0;
            width: 100%;
        }
    }
    .static-message{
        width: 100%;
        grid-column: 1 / 3;
    }
    #footer--logo{
        grid-column: 1 / 3;
        padding: 0;
        margin: 0 0 $container--padd-min 0;
        @include flex(center, left);
    
        img{
            height: $logo--height-min;
        }
    }
    #footer--buttons{
        border-bottom: $border--px solid setcolor(gray, light);
        justify-content: right;
        padding-top: 0;
    
        .outl--blue-ow{
            &:hover{
                border: $border--px solid transparent;
            }
        }
    
        .input--ow{
            &:hover{
                border: $border--px solid setcolor(blue);
            }
        }
    }
    #footer--number{
        @include flex(center, left);
        gap: $gap--min;
        border-bottom: $border--px solid setcolor(gray, light);
        position: relative;
        padding-top: 0;
    
        p{
            @include flex(center,left);
            gap: $gap--min;
            position: absolute;
            bottom: 0;
        }
    }
    #footer--adress{
        position: relative;
        padding-bottom: 0;
    
        p{
            position: absolute;
            top: 0;
        }
    }
    #footer--currencies{
        @include flex(center,right);
        gap: $gap--max;
        padding-bottom: 0;

        #cryptocurrencies{
            min-width: 107px;
            @include flex;
            gap: $gap--max;
            padding: $gap--min;
        }
    }
    #footer--links{
        width: 100%;
        grid-column: 1 / 3;
        padding: 0;
        
        p{
            margin: 0;
        }
    }
}
button, input[type=submit], .btn-upload{
    height: 43px;
    border-radius: $border--rad-mid;
    padding: $button-text--padd;
    font-size: $button--font-size;
    cursor: pointer;
    @include font-family($font--head);
    @include flex;
    gap: $gap--min;
    white-space: nowrap;
    position: relative;

    img{
        height: 21px;
    }
}
select{
    border-radius: $border--rad-min;
    padding: 4.5px;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: setcolor(blue);

    i{
        color: setcolor(blue);
    }
}
a:active{
    color: setcolor(blue);
}
p::selection {
    background: setcolor(blue);
    color: setcolor(white);
}
p::-moz-selection { /* Firefox */
    background: setcolor(blue);
    color: setcolor(white);
}
i{
    color: setcolor(black);
}
span{
    font-size: $paragraph--font-size;
}
i{
    font-size: $i--font-size-min;
    color: setcolor(black);
}

/**
 * * TABLE
 */
.table-container{
    margin-bottom: $font--margin;
    border: $border--px solid setcolor(gray, light);
    border-radius: $border--rad-mid;

    table{
        width: 100%;
        border-spacing: 0;
        background: setcolor(white, light);
        border-radius: $border--rad-mid;

        td, th{
            padding: $container--padd-min;
        }
        thead{
            tr{
                position: sticky;
                z-index: 1;
                top: -6px;

                th{
                    border-bottom: 0;
                    background: setcolor(white, light);
                    color: setcolor(gray);
                    text-align: left;
                    // Agregamos un elemento after para que simule border bottom
                    // al desplazar th sticky
                    &::after{
                        content: '';
                        width: 100%;
                        height: 1px;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        background: setcolor(gray, light);
                    }
                    &:first-child{
                        border-top-left-radius: $border--rad-max;
                    }
                    &:last-child{
                        border-top-right-radius: $border--rad-max;
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    border-bottom: $border--px solid setcolor(gray, light);
                } 
                // Tr's pares
                &:nth-child(odd){
                    background: setcolor(white);
                }
                &:last-child{
                    td{
                        border-bottom: 0;
                    }
                    td:first-child{
                        border-bottom-left-radius: $border--rad-mid;
                    }
                    td:last-child{
                        border-bottom-right-radius: $border--rad-mid;
                    }
                }
            }
        }
    }
}
.table-container-100w{
    width: 100%;
    overflow-x: auto;
}