@import "../compatibility";
.input{
    background: setcolor(white);
    height: 50px;
    border-radius: $border--rad-min;

    display: flex;
    flex-direction: row;
    align-items: center;

    i{
        cursor: text;
        margin: $gap--min;
    }

    input{
        background: transparent;
        border: 0;
        outline: none;
        height: 100%;
        width: 100%;
        font-size: $button--font-size;
        @include font-family($font--title,400);
    }
}
i{
    font-size: $i--font-size;
    color: setcolor(black);
}

.input--ow{
    border: $border--px solid setcolor(gray, light);
    
}
.input--ob{
    border: $border--px solid setcolor(blue);
    
}
#icon--pass{
    cursor: pointer;
}
@include placeholder--color;

// Checkbox
.checkbox{
    display: flex;
    flex-direction: row;
    gap: $gap--min;
    align-items: center;

    // Hidden input
    input{
        position: absolute;
        visibility: hidden;
        
        // When checkbox is checked, add this styles
        &:checked ~ .checkmark{
            background-color: setcolor(blue);
            border: $border--px solid setcolor(blue, dark);
        }
        // When checkbox is checked, show i
        &:checked ~ .checkmark > i{
            display: block;
        }
    }

    .checkmark{
        background: setcolor(white, light);
        border-radius: $border--rad-min;
        cursor: pointer;
        width: 25px;
        height: 25px;

        font-size: $i--font-size;
        line-height: 25px;
        text-align: center;

        // By default i is hidden
        i{
            display: none;
            color: setcolor(white);
        }
    }
}
.checkmark{
    border: $border--px solid setcolor(gray,light)
}