// Font
$head--font-size: 32px;
$title--font-size: 24px;
$paragraph--font-size: 14px;
$description--font-size: 14px;
$font--margin: 16px;

// Button
$button--font-size: 15px;
$border--px: 1px;
$border--rad-min: 8px;
$border--rad-max: 15px;
$outline--px: 3px;

// Paddings
$container--padd-max: 25px;
$button-text--padd: 10px 25px;

// Icons
$i--font-size: 20px;

// Gap
$gap--min: 10px;
$gap--max: 25px;