@use "../abstracts" as *;
@use "../tools/mixins" as *;

/**
  * * BASE
  */
#product--info, #product--specs, #product--wty{
    margin: $container--padd-mix-compact;
}
/**
  * * INFO
  */
#product--info{
    display: grid;
    // El gap es de 25px y se divide entre ambas columnas
    grid-template-columns: auto auto;
    gap: $gap--max;
}
#container--imgs{
    display: grid;
    grid-template-columns: 50px 410px;
    grid-template-rows: auto;
    gap: $gap--min;

    #img--prod-preview{
        border: $border--px solid setcolor(gray, light);
        border-radius: $border--rad-max;
        grid-column: 2 / 3;
        grid-row: 1 / 8;
    }

    .img--miniature{
        width: 50px;
        height: 50px;
        border: $border--px solid setcolor(gray, light);
        border-radius: $border--rad-mid;
        overflow: hidden;
        cursor: pointer;
        @include flex;

        &:hover{
            border: $border--px solid setcolor(blue);
        }

        img{
            width: 100%;

        }
    }
}

#container--dets{
    position: relative;

    h1{
        margin: 0;
    }

    #info--sku{
        margin-top: 5px;
    }

    .label{
        margin-bottom: $gap--max;
        margin-right: $gap--min;
    }

    #info--disc-price{
        margin-bottom: 0;
        text-decoration: line-through;
    }

    #info--IVA{
    }

    #info--units{
        color: setcolor(blue);
        margin-top: $gap--max;
        position: absolute;
        bottom: 43px;
    }

    #info--buy{
        width: 100%;
        position: absolute;
        bottom: 0;

        img{
            position: absolute;
            right: 25px;
        }
    }
}

/**
  * * SPECS
  */
#product--specs{
    border: 1px solid rgba(0, 0, 255, .1);
}
/**
  * * WTY
  */
#product--wty{
    display: grid;
    grid-template-columns: 33% 34% 33%;
    gap: $gap--max;

    div{
        padding: $container--padd-max;
        @include flex;
        flex-direction: column;

        i{
            font-size: $i--font-size-mega;
            color: setcolor(blue);
        }

        p{
            margin-bottom: 0;
        }
    }
}