// Función para obtener map
// $tone tiene como valor por defecto la key base
@function setcolor($scheme ,$tone: base){
    @return map-get(map-get($color-scheme, $scheme), $tone);
}

$color-scheme: (
    white: (
        base: #ffffff,               // Blanco por defecto
        light: #fafafa               // Contraste fondo-contenedor
    ),
    black: (
        base: #2a2a2a                // Texto principal e iconos
    ),
    gray: (
        base: #929292,               // Texto descriptivo
        light: #c5c5c5               // Border de contenedores
    ),
    blue: (
        base: #3C90FC,               // Principal para elementos y degradado
        dark: #3983E3,               // Border para elemento en focus
        out: rgba(60, 144, 252, .4), // Outline
        deg: #3C80FC                 // Color secundario para degradado
    ),
    red: (
        base: #ED4025,               // Background y texto de error
        dark: #B43622,               // Border 
        out: rgba(237, 64, 37, .4)   // Outline
    ),
    orange: (
        base: #ED7C25                // Border y texto de alerta
    ),
    yellow: (
        base: #FFF982                // Background de alerta
    ),
    green: (
        base: #4ADF83,               // Background y border bW sobre azul
        dark: #3EB76C,               // Border 
        out: rgba(74, 223, 131, .4), // Outline
        deg: #00BCA2                 // Color secundario para degradado y border bW sobre blanco
    )
);