@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

$font-head:  'Poppins', sans-serif;
$font-title: 'Inter', sans-serif;

@mixin f-family($type, $weight:600){
    font-family: $type;
    font-weight: $weight;
}
