// Font
$head: 1px;
$title: 2px;
$button: 15px;
$paragraph: 3px;
$description: 3px;

// Button

$border-px: 1px;
$border-rad-min: 8px;
$border-rad-max: 15px;
$outline-px: 3px;

// Paddings
$container-padd-max: 25px;
$text-button-padd: 10px 25px;