@use "../abstracts" as *;

/**
 * * Box
 * Estos estilos se usan para establecer contenedor básico grande
 */
.box--ow-max{
    background: setcolor(white, light);
    border: $border--px solid setcolor(gray, light);
    border-radius: $border--rad-mid;
    overflow: hidden;
}