@use "../tools/mixins" as *;

/**
 * * Breadcrumbs
 * Estos estilos se usan para establecer breadcrumbs
 */
.container-breadcrumb{
    .breadcrumb{
        list-style: none;
        padding: 0;
        display: flex;
        align-items: center;
        flex-direction: row;

        // .breadcrumb-item{ }
        // .active{ }
        .breadcrumb-separator{
            @include flex;
        }
    }
}