@use "../abstracts" as *;
@use "../tools/crossbrowsing" as *;
@use "../tools/mixins" as *; 

// * Iconos con enlace
// Comportamiento de un enlace con imagen
.a--icon{
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 100%;
    cursor: pointer;

    img{
        height: 100%;
    }
}
// * Texto descriptivo
// Se utiliza para indicar que el texto contenido 
// se trata de una descripción
.p--description{
    color: setcolor(gray);
}
// * Boton cuadrado
.sq{
    width: 43px;
    padding: 10px 10px;
}
// * Label
.label{
    background: setcolor(yellow);
    padding: $label-text--padd;
    border-radius: $border--rad-min;
    border: $border--px solid setcolor(orange);
    color: setcolor(orange);
    @include font-family($font--title,500);
    @include noselect;
    font-size: $description--font-size;
    cursor: default;
    display: inline-block;

    i{
        color: setcolor(orange);
    }
}
.label--b{
    border: $border--px solid setcolor(blue);
    background: setcolor(blue,actv);
    color: setcolor(blue);
}
/**
  * * BORDER FIX
  * Soluciona especificidad del hover de inputs (redes sociales footer)
  */
.input--ow{
    border: $border--px solid setcolor(gray, light);
}
.input--ob{
    border: $border--px solid transparent;
}
.noimage-50{
    width: 50px;
    height: 50px;
}
.noimage-75{
    border-radius: 0;
    width: 75px;
    height: 75px;
}
.noimage-200{
    border-radius: 0;
    width: 200px;
    height: 200px;
}
/**
  * * NO DISABLE
  */
.nodisabled{
    &:disabled{
        opacity: 1;
        color: setcolor(black);
    }
}