@use "../abstracts" as *;
@use "../tools/crossbrowsing" as *;
@use "../tools/mixins" as *; 

/**
 * * Helpers
 * Estilos sin categoria
 */

/**
 * * Enlace con iconos
 * Estos estilos se usan para establecer el comportamiento de
 * un enlace con imagen
 */
.a--icon{
    width: 35px;
    height: 35px;
    display: block;
    border-radius: 100%;
    cursor: pointer;

    img{
        height: 100%;
    }
}
/**
 * * Descripción
 * Estos estilos se usan para indicar que el texto contenido 
 * se trata de una descripción
 */
.p--description{
    color: setcolor(gray);
}

/**
 * * Botón cuadrado
 * Estos estilos se usan para establecer un botón cuadrado
 */
.sq{
    width: 43px;
    padding: 10px 10px;
}
/**
 * * Label
 * Estos estilos se usan para establecer el elemento label
 */
.label{
    background: setcolor(yellow);
    padding: $label-text--padd;
    border-radius: $border--rad-min;
    border: $border--px solid setcolor(orange);
    color: setcolor(orange);
    @include font-family($font--title,500);
    @include noselect;
    font-size: $description--font-size;
    cursor: default;
    display: inline-block;

    i{
        color: setcolor(orange);
    }
}
.label--b{
    border: $border--px solid setcolor(blue);
    background: setcolor(blue,actv);
    color: setcolor(blue);
}
/**
  * * Border fix
  * Estos estilos solucionan especificidad del hover en elementos
  * que no aplican adecuadamente el outline
  *
  * Por ejemplo en footer para redes sociales
  */
.input--ow{
    border: $border--px solid setcolor(gray, light);
}
.input--ob{
    border: $border--px solid transparent;
}
.noimage-50{
    width: 50px;
    height: 50px;
}
.noimage-75{
    border-radius: 0;
    width: 75px;
    height: 75px;
}
.noimage-200{
    border-radius: 0;
    width: 200px;
    height: 200px;
}
/**
  * * NO DISABLE
  */
.nodisabled{
    &:disabled{
        opacity: 1;
        color: setcolor(black);
    }
}