@use "../abstracts" as *;
@use "../tools/mixins" as *;

/**
  * * Menu colapsable
  * Estos estilos se usan para establecer un menu colapsable que se
  + muestra en  dispositivos pequeños
  *
  * Los estilos para el botón que alterna la visibilidad de este menu
  * se encuentran en _buttons
  */
.menu--container{
    width: 100%;
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 10;
    transition: $animation-duration--mid;
    transform: translateX(100%);

    .content{
        background: setcolor(white);
        width: 75%;
        height: 100vh;
        border: $border--px solid setcolor(gray, light);
        padding: $container--padd-mid;
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        gap: $gap--max;
        text-align: center;

        .content--social-media{
            @include flex;
            flex-direction: row;
            gap: $gap--max;
        }
        .content--whatsapp{
            @include flex;
            flex-direction: row;
        }
        .static-message{
            width: 100%;
        }
    }
}
.modal-shadow{
    background: setcolor(black, shadow);
    width: 100%;
    min-width: 1200px;
    height: 100vh;
    position: fixed;
    z-index: 9;
    display: none;
}