@use "../abstracts" as *;
@use "../tools/crossbrowsing" as *;
@use "../tools/mixins" as *;

/**
 * * POSITIVE MESSAGE
 * Mensaje con respuesta positiva
 */
.message{
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 10px;
    justify-content: flex-start;
    align-items: center;

    h3, p{
        margin: 0;
    }
    p{
        height: 16px;
    }

    h3{
        font-weight: 500;
    }

    div{
        grid-row: 1 / 3;
        width: 42px;
        height: 42px;
        font-size: $i--font-size-min;
        line-height: 40px;
        text-align: center;
        background: setcolor(white, light);
        border-radius: 100%;
        border: $border--px solid setcolor(gray, light);
        @include noselect;
    }
}
/**
 * * NEGATIVE MESSAGE
 * Mensaje con respuesta negativa
 */
.message--error{
    h3{
        color: setcolor(red);
    }
}
.message--panel-ow{
    h3{
        font-size: $paragraph--font-size;
        // color: setcolor(blue, ddark);
        text-align: right;
    }
    div{
        width: 37px;
        height: 37px;
        line-height: 39px;
        grid-column: 2;
    }
}
/**
 * * POPUP MESSAGE
 * Añade un elemento flotante con una descripción
 */
.static-message{
    width: 350px;
    background: setcolor(black);
    color: setcolor(white);
    white-space: normal;
    text-align: center;
    padding: $container--padd-min;
    border-radius: $border--rad-min;
}
.popup-message{
    cursor: help;

    p{
        width: 350px;
        position: absolute;
        background: setcolor(black);
        color: setcolor(white);
        white-space: normal;
        padding: $container--padd-min;
        border-radius: $border--rad-min;
        pointer-events: none;
        display: none;
    }

    &:hover p{
        display: block;
        opacity: 1;
    }
}
.popup-message-top{
    p{
        top: 75%;
    }

    &:hover p{
        top: 100%;
    }
}
.popup-message-bot{
    p{
        bottom: 75%;
    }

    &:hover p{
        bottom: 100%;
    }
}
/**
 * * COOKIE CONCENT
 */
.cookie-consent{
    width: 100%;
    position: fixed;
    bottom: 0;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    @include flex(center, space-between);
    padding: $container--padd-min;
    z-index: 4;

    span{
        height: fit-content;
    }
}