@use "../abstracts" as *;

/**
 * * Outlines
 * Esta función crea clases que definen outlines
 * a partir de una lista de propiedades
 */

/**
 * * Mapa de propiedades para outline overwhite
 */
$outline--overwhite: (
    blue-ow: (
        setcolor(blue),
        setcolor(blue, outl)
    )
);
/**
 * * Mapa de propiedades para outline overblue
 */
$outline-overblue: (
    white-ob: (
        setcolor(blue),
        setcolor(white, outl)
    )
);
/**
 * * Outline overwhite
 * Esta función crea las clases para outline overwhite
 */
@each $name, $colors in $outline--overwhite{
    $border--color: nth($colors, 1);
    $outline--color: nth($colors, 2);

    .outl--#{$name}{
        border: $border--px solid transparent;

        &:hover{
            border: $border--px solid $border--color;
            outline: $outline--px solid $outline--color;
        }
        &:focus{
            border: $border--px solid $border--color;
            outline: $outline--px solid $outline--color;
        }
    }
};
/**
 * * Outline overwhite
 * Esta función crea las clases para outline overblue
 */
@each $name, $colors in $outline-overblue{
    $border--color: nth($colors, 1);
    $outline--color: nth($colors, 2);

    .outl--#{$name}{
        border: $border--px solid transparent;

        &:hover{
            border: $border--px solid $border--color;
            outline: $outline--px solid $outline--color;
        }
        &:focus{
            border: $border--px solid $border--color;
            outline: $outline--px solid $outline--color;
        }
    }
};