@import url("https://fonts.googleapis.com/css2?family=Readex+Pro:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
.btn--positive-ow {
  background: #4ADF83;
  border: 1px solid #3EB76C;
  color: #ffffff; }
  .btn--positive-ow:active {
    background: #43D27A; }
  .btn--positive-ow:hover {
    outline: 3px solid rgba(74, 223, 131, 0.4); }

.btn--negative-ow {
  background: #ED4025;
  border: 1px solid #B43622;
  color: #ffffff; }
  .btn--negative-ow:active {
    background: #DE3C23; }
  .btn--negative-ow:hover {
    outline: 3px solid rgba(237, 64, 37, 0.4); }

.btn--neutral-ow {
  background: #fafafa;
  border: 1px solid #c5c5c5;
  color: #2a2a2a; }
  .btn--neutral-ow:active {
    background: #EDF5FF; }
  .btn--neutral-ow:hover {
    outline: 3px solid rgba(59, 143, 252, 0.4); }

.btn--whatsapp-ow {
  background: linear-gradient(180deg, #33d48e 0%, #18c799 100%);
  border: 1px solid #00BCA2;
  color: #ffffff; }
  .btn--whatsapp-ow:active {
    background: #33D48E; }
  .btn--whatsapp-ow:hover {
    outline: 3px solid rgba(74, 223, 131, 0.4); }

.btn--positive-ob {
  background: #4ADF83;
  border: 1px solid #3EB76C;
  color: #ffffff; }
  .btn--positive-ob:active {
    background: #43D27A; }
  .btn--positive-ob:hover {
    outline: 3px solid rgba(74, 223, 131, 0.4); }

.btn--negative-ob {
  background: #ED4025;
  border: 1px solid #B43622;
  color: #ffffff; }
  .btn--negative-ob:active {
    background: #DE3C23; }
  .btn--negative-ob:hover {
    outline: 3px solid rgba(237, 64, 37, 0.4); }

.btn--neutral-ob {
  background: #fafafa;
  border: 1px solid #c5c5c5;
  color: #2a2a2a; }
  .btn--neutral-ob:active {
    background: #E0EEFF; }
  .btn--neutral-ob:hover {
    outline: 3px solid rgba(250, 250, 250, 0.4); }

.btn--whatsapp-ob {
  background: linear-gradient(180deg, #33d48e 0%, #18c799 100%);
  border: 1px solid #4ADF83;
  color: #ffffff; }
  .btn--whatsapp-ob:active {
    background: #33D48E; }
  .btn--whatsapp-ob:hover {
    outline: 3px solid rgba(74, 223, 131, 0.4); }

body {
  margin: 0;
  padding: 0;
  border: 0; }

* {
  box-sizing: border-box; }

header {
  background: #3C90FC;
  padding: 25px; }
  header img {
    height: 30px; }

button {
  border-radius: 8px;
  padding: 10px 25px;
  font-size: 15px;
  cursor: pointer;
  position: relative;
  font-family: 'Inter', sans-serif;
  font-weight: 500; }
  button img {
    height: 21px;
    right: 10px;
    position: absolute; }

#container--temp {
  border: 1px solid #c5c5c5;
  padding: 25px;
  border-radius: 15px; }

.parent {
  margin: 50px auto; }

.onblue {
  background: #3C90FC; }

h1, h2, h3 {
  margin: 16px 0; }

h1, h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600; }

h3 {
  font-family: "Inter", sans-serif;
  font-weight: 600; }

p {
  font-family: "Inter", sans-serif;
  font-weight: 400; }

.descr {
  color: #929292; }
