// * Función para obtener map

@function setcolor($scheme ,$tone:base){
    @return map-get(map-get($color-scheme, $scheme), $tone);
}

// TODO corregir colores y establecer descripciones

$color-scheme: (                        // * Lista de usos, si no se especifica si su uso es ow/ob
                                        // * quiere decir que se usa de forma general para ambos estados
    white: (
        base: #ffffff,                // Blanco por defecto e iconos claros
        light: #fafafa,               // Contraste fondo-contenedor
        outl: rgba(250, 250, 250, .4) // Outline overblue
    ),
    black: (
        base: #2a2a2a                 // Texto principal e iconos oscuros
    ),
    gray: (
        base: #929292,                // Texto descriptivo
        light: #c5c5c5,               // Border de containers
        patt: rgba(197, 197, 197, .4) // Patrón de malla
    ),
    blue: (
        base: #3C90FC,                // Background-color de head
        light: #3C8AFC,               // Background-color:active
        dark: #276FCC,                // Border
        actv: #EDF5FF,                // Background-color:active
        outl: rgba(59, 143, 252, .4)  // Outline overwhite
    ),
    red: (
        base: #ED4025,                // Background y texto en mensajes de error
        dark: #B43622,                // Border
        actv: #DE3C23,                // Background-color:active
        outl: rgba(237, 64, 37, .4)   // Outline
    ),
    orange: (
        base: #ED7C25                 // Border y texto de alerta
    ),
    yellow: (
        base: #FFF982                 // Background-color de alerta
    ),
    green: (
        base: #37dd77,                // Background y border WApp sobre azul
        light: #53f190,               // Border
        dark: #3EB76C,                // Border ow 
        actv: #43D27A,                // Active
        outl: rgba(74, 223, 131, .4)  // Outline (usado también para outline de WApp ow y ob)
    ),
    WApp: (
        base: linear-gradient(180deg, 
        rgba(51,212,142,1) 0%, 
        rgba(24,199,153,1) 100%),     // Background-color
        dark: #00BCA2,                // Border overwhite
        actv: #33D48E                 // Background-color:active
    )
);