// * Función para obtener map

@function setcolor($scheme, $tone:base){
    @return map-get(map-get($color-scheme, $scheme), $tone);
}

// * Si no se especifica si su uso es ow/ob
// * quiere decir que se usa de forma general para ambos estados

$color-scheme: (                          
    white: (                              // * White
        base: #ffffff,                  // Blanco por defecto e iconos claros
        light: #fafafa,                 // Contraste fondo-contenedor
        outl: rgba(250, 250, 250, .4)   // Outline overblue
    ),          
    black: (                              // * Black
        base: #2a2a2a,                   // Texto principal e iconos oscuros
        shadow: rgba(42, 42, 42, .25)
    ),
    gray: (                               // * Gray
        base: #929292,                  // Texto descriptivo
        light: #c5c5c5,                 // Border de containers
        patt: rgba(197, 197, 197, .4)   // Patrón de malla
    ),
    blue: (                               // * Blue
        base: #3C90FC,                  // Background-color de head
        light: #3C8AFC,                 // Background-color:active
        dark: #276FCC,                  // Border
        actv: #EDF5FF,                  // Background-color:active
        outl: rgba(59, 143, 252, .4)    // Outline overwhite
    ),
    red: (                                // * Red
        base: #ED4025,                  // Background y texto en mensajes de error
        dark: #B43622,                  // Border
        actv: #DE3C23,                  // Background-color:active
        outl: rgba(237, 64, 37, .4)     // Outline
    ),
    orange: (                             // * Orange
        base: #ED7C25                   // Border y texto de alerta
    ),
    yellow: (                             // * Yellow
        base: #FFF982                   // Background-color de alerta
    ),
    green: (                              // * Green
        base: #41dd7d,                  // Background y border WApp sobre azul
        light: #53f190,                 // Border
        dark: #3EB76C,                  // Border ow 
        actv: #43D27A,                  // Active
        outl: rgba(74, 223, 131, .6),   // Outline (usado también para outline de WApp ow)
        outl-ob: rgba(74, 223, 131, .4) // Outline WApp ob
    ),
    WApp: (                               // * WApp
        base: linear-gradient(180deg, 
        rgba(51,212,142,1) 0%, 
        rgba(24,199,153,1) 100%),       // Background-color
        dark: #00BCA2,                  // Border overwhite
        actv: #33D48E                   // Background-color:active
    )
);