// * Font _______________________________ // Font
$head--font-size: 32px;                   // Fuente head
$title--font-size: 24px;                  // Fuente title
$paragraph--font-size: 14px;              // Fuente parráfo
$description--font-size: 14px;            // Fuente descripción
$font--margin: 16px;                      // Margen top-bottom de elementos fuente
// *                                      //
// * Button _____________________________ // Button
$button--font-size: 15px;                 // Parráfos
$border--px: 1px;                         // Bordes en general
$border--rad-min: 6px;                    // Elementos pequeños
$border--rad-mid: 8px;                    // Elementos medianos
$border--rad-max: 15px;                   // Elementos grandes
$outline--px: 3px;                        // Outline en general
// *                                      //
// * Paddings and margins _______________ // Paddings and margins
$container--padd-min: 15px;               // Contenedores pequeños
$container--padd-max: 25px;               // Contenedores grandes
$container--padd-mix: 25px 100px;         // Header y footer
$container--padd-mix-min: 5px 15px;       // 
$container--padd-mix-compact: 50px 250px; // Main product
$button-text--padd: 10px 25px;            // Botones
$label-text--padd: 7px 15px;              // Label
$main--padd: 25px 50px;                   // Main home
// *                                      //
// * Icons ______________________________ // Icons
$i--font-size-min: 20px;                  // Icono pequeño
$i--font-size-mid: 30px;                  // Icono mediano
$i--font-size-max: 35px;                  // Icono grandes
$i--font-size-mega: 50px;                 // Icono extragrande
// *                                      //
// * Gap ________________________________ // Gap
$gap--min: 10px;                          // Gap pequeño
$gap--max: 25px;                          // Gap grande
// *                                      //
// * Width ______________________________ // Width
$cont--p-card--min-width: 1075px;         // Container product-card
// *                                      //
// * Animations _________________________ // Animations
$short--animation-duration: .1s;          // Animación instantanea
$long--animation-duration: 1s;            // Animación larga
$logo--animation-duration: 2s;            // Animación del logo
// *                                      //
// * Logo _______________________________ // Logo
$logo--height-min: 30px;                  // Altura mínima del logo
$logo--height-max: 35px;                  // Altura máxima del logo