@keyframes slideUpModal{
    0%{
        transform: translateY(25px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideDownModal{
    0%{
        transform: translateY(0px);
        opacity: 1;
    }
    100%{
        transform: translateY(25px);
        opacity: 0;
    }
}
@keyframes appear{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes loading{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}