// * LOGO

// Figura R
@keyframes logo__header_s {
    0%{
        transform: translateY(-73px);
    }
    90%{
        opacity: 0;
        transform: translateY(-73px);
    }
    95%{
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
// Letra R
@keyframes logo__header_r {
    0%{
        transform: translateX(0);
    }
    90%{
        transform: translateX(0);
        opacity: 1;
    }
    100%{
        transform: translateY(73px);
        opacity: 0;
    }
}
// Letras restantes después de la R (ESTECH)
@keyframes logo__header_i {
    0%{
        transform: translateX(-35px);
    }
    90%{
        transform: translateX(-35px);
    }
    100%{
        transform: translateX(0);
    }
}