/**
  * * BREAKPOINTS REFERENCES
  * https://www.geeksforgeeks.org/how-to-target-desktop-tablet-and-mobile-using-media-query/
  * https://stackoverflow.com/questions/20301680/responsive-design-standard-breakpoint-media-queries-for-smartphone-and-tablet
  */
@use "../abstracts" as *;
@use "mixins" as *;

$screen--sm-max: 768px;
$screen--md-max: 1224px;
$screen--lg-max: 1366px;
$screen--xg-max: 1600px;

/**
  * * RESPONSIVE INDICATOR
  */
#responsive-indicator{
    position: fixed;
    z-index: 3;
    background: yellow;
    top: 100px;

    a{
        text-decoration: underline;
    }
}

/**
  * *  MIXINS
  */
// Desde Tablet y Ipad pequeñas hasta Móviles
@mixin small{
    @media (max-width: #{$screen--sm-max + 1}){
        @content;
    }
}
// Tablet y Ipad en vista vertical
@mixin medium{
    @media(min-width: #{$screen--sm-max + 1}) and (max-width: #{$screen--lg-max}){
        @content;
    }
}
// Laptop y computadora 
@mixin large{
    @media (min-width: #{$screen--lg-max + 1}){
        @content;
    }
}
@mixin xlarge{
    @media (min-width: #{$screen--xg-max}){
        @content;
    }
}
/**
  * * MEDIA
  */
@include small{
    #responsive-indicator::before{
        content: "Small";
    }
    .header{
        padding: $container--padd-min;
        gap: $gap--min;

        #header--search{
            min-width: 100px;
            max-width: none;
        }
    }
    #header--logo{
        #logo-large{
            display: none;
        }
    }
    #header--nav--buttons{
        a{
            display: none;
        }
    }
    .popup-message{
        display: none;
    }
    .footer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto;
        padding: $container--padd-min;

        #footer--logo{
            grid-column: 1 / 3;
            margin: 0;
            height: 100%;
            padding-bottom: $container--padd-min;
            @include flex;
        }
        #footer--buttons{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            padding: initial;
            padding-top: $container--padd-min;
            @include flex;
            border: 0;

            :nth-child(4){
                display: none;
            }
        }
        #footer--number{
            border: 0;
            padding: initial;
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            
            p{
                position: initial;
                justify-content: center;
                margin-bottom: 0;
            }
        }
        #footer--adress{
            padding: initial;
            grid-column: 1 / 3;
            grid-row: 6 / 7;
            text-align: center;
            border-top: 0;
            p{
                position: initial;
                margin-top: 8px;
            }
        }
        #footer--currencies{
            grid-column: 1 / 3;
            grid-row: 7 / 8;
            @include flex(center,center);
            gap: $gap--min;
        }
        div{
            > img{
                height: $i--font-size-min;
            }
        }
        #cryptocurrencies{
            min-width: 72px;
            @include flex;
            gap: $gap--min;
            padding: $gap--min;
        }
    }
    /**
      * * HOME VIEW
      */
    #paginate{
        width: 100vw;

        #elements{
            #buttons{
                @include flex(center, left);
                overflow-x: scroll;
            }
        }
    }
    #arrow-l, #arrow-r{
        display: none;
    }
    #main--products{
        margin: $container--padd-min;
        padding: 0;
    }
    #container--catalog{
        width: 100%;
    }
    #catalog{
        gap: $gap--min;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .product--card{
        width: 100%;
        height: 145px;
        min-width: initial;
        max-width: initial;
        display: grid;
        grid-template-columns: 145px auto;

        &:hover .product--image-cover{
            opacity: 1;
        }

        .product--image{
            height: 100%;
            border-bottom: 0;
            border-right: $border--px solid setcolor(gray, light);

            .label{
                right: $container--padd-micro;
                top: $container--padd-micro;
            }
        }

        .product--info{
            padding: $container--padd-min;
            grid-template-columns: auto 100px;

            #product--title{
                margin: 0;
                max-height: 16px;
                overflow: hidden;
                font-size: $paragraph--font-size;
            }
            #product--description{
                margin: 0;
                max-height: 48px;
                overflow: hidden;
            }
            #product--price{
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                font-size: 18px;
            }
            #product--orig-price{
                opacity: 1;
                transform: translateY(0);
                grid-column: 1 / 2;
                text-align: left;
            }
            #product--discount{
                grid-column: 2 / 3;
                max-height: 16px;
                overflow: hidden;
            }
        }
    }
    /**
      * * PRODUCT VIEW
      */
    #product--info, #product--specs, #product--wty{
        margin: $container--padd-min;
        overflow: hidden;
    }
    #product--info{
        flex-direction: column;

        #container--imgs{
            display: none;
        }
        #container--dets{
            width: 100%;

            h1{
                font-size: $title--font-size;
            }


            #info--orig-price{
                font-size: $head--font-size;
            }

            #info--units{
                position: initial;
                bottom: initial;
            }
            #info--buy{
                position: initial;
                bottom: initial;
            }
        }
    }
    #product--specs-items{
        flex-wrap: nowrap;

        h1{
            font-size: $title--font-size;
        }

        section{
            column-gap: 0;
            row-gap: 0;
            max-height: 3000px;

            table{
                width: 100%;
                margin-bottom: $container--padd-min;

                caption{
                    h3{
                        margin-bottom: $container--padd-micro;
                    }
                }
                tr{
                    td{
                        padding: $container--padd-min;
                    }
                }
            }
            .table-end{
                margin-bottom: 0;
            }
        }
    }
    #product--wty-items{
        gap: $gap--min;
        flex-direction: column;

        div{
            padding: $container--padd-min;
        }
    }
}
@include medium{
    #responsive-indicator::before{
        content: "Medium";
    }
    
    .header{
        display: grid;
        grid-template-columns: auto auto;

        #header--search{
            grid-column: 1 / 3;
            max-width:none;
        }
    }
    #header--nav--buttons{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
    }
    #container--catalog{
        min-width: 625px;
        max-width: 625px;
    }
    .popup-message{
        display: none;
    }
    .footer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto;

        #footer--logo{
            grid-column: 1 / 2;
            margin: 0;
            height: 100%;
            padding-bottom: $container--padd-min;
        }
        #footer--buttons{
            grid-column: 2 / 3;
            border: 0;
            padding: initial;
            padding-bottom: $container--padd-min;
        }
        #footer--number{
            border: 0;
            padding: initial;
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            
            p{
                position: initial;
                justify-content: center;
                margin-bottom: 0;
            }
        }
        #footer--adress{
            padding: initial;
            grid-column: 1 / 3;
            grid-row: 6 / 7;
            text-align: center;
            
            p{
                margin-top: 8px;
                position: initial;
            }
        }
        #footer--currencies{
            grid-column: 1 / 3;
            grid-row: 7 / 8;
            @include flex(center,center);
        }
    }
    #logo-tiny{
        display: none;
    }
    .menu{
        display: none;
    }
    #menu--container{
        display: none;
    }
    /**
      * * PRODUCT VIEW
      */
    #product--info, #product--specs, #product--wty{
        margin: $container--padd-mix;
    }
    #product--info{
        flex-direction: column;

        #container--imgs{
            display: none;
        }
        #container--dets{
            width: 100%;

            #info--units{
                position: initial;
                bottom: initial;
            }
            #info--buy{
                position: initial;
                bottom: initial;
            }
        }
    }
    #product--specs-items{
        section{
            width: 100%;
            max-height: 1500px;

            table{
                width: calc(50% - 12.5px);
                margin-bottom: $container--padd-max;

                tr{
                    td{
                        padding: $container--padd-min;
                    }
                }
            }
            .table-end{
                margin-bottom: 0;
            }
        }
    }
    
    
}
@include large{
    #responsive-indicator::before{
        content: "Large size";
    }   
    #logo-tiny{
        display: none;
    }
    .menu{
        display: none;
    }
    .static-message{
        display: none;
    }
    #menu--container{
       display: none;
    }
    /**
      * * PRODUCT VIEW
      */
    .touch-slider{
        display: none;
    }
    #container--catalog{
        min-width: 625px;
    }
    #product--specs-items{
        section{
            width: 100%;
            max-height: 1500px;

            table{
                width: calc(50% - 12.5px);
                margin-bottom: $container--padd-max;

                tr{
                    td{
                        padding: $container--padd-min;
                    }
                }
            }
            .table-end{
                margin-bottom: 0;
            }
        }
    }
}
@include xlarge{
    #responsive-indicator::before{
        content: "xLarge size";
    } 
    #container--catalog{
        min-width: 1275px;
        max-width: 1275px;
    }
}