/**
  * * BREAKPOINTS REFERENCES
  * https://www.geeksforgeeks.org/how-to-target-desktop-tablet-and-mobile-using-media-query/
  * https://stackoverflow.com/questions/20301680/responsive-design-standard-breakpoint-media-queries-for-smartphone-and-tablet
  */
@use "../abstracts" as *;
@use "mixins" as *;

$screen--sm-max: 480px;
$screen--md-max: 1024px;
// $screen--lg-max: 1080px;
$screen--xg-max: 1600px;

/**
  * * RESPONSIVE INDICATOR
  */
#responsive-indicator{
    position: fixed;
    z-index: 3;
    background: yellow;
    top: 100px;

    a{
        text-decoration: underline;
    }
}

/**
  * *  MIXINS
  */
// Desde Tablet y Ipad pequeñas hasta Móviles
@mixin small{
    @media (max-width: #{$screen--sm-max}){
        @content;
    }
}
// Laptop y computadora 
@mixin large{
    @media (min-width: #{$screen--sm-max + 1}){
        @content;
    }
}
@mixin xlarge{
    @media (min-width: #{$screen--xg-max}){
        @content;
    }
}
/**
  * * MEDIA
  */
@include small{
    .shortcut-keys{
        display: none;
    }
    #responsive-indicator::before{
        content: "Small";
    }
    .header{
        padding: 0 $container--padd-min;
        .header--container{
            gap: $gap--min;

            .input-search{
                input{
                    padding-right: 0;
                }
            }
        }
        #header--search{
            min-width: 215px;
            max-width: none;
        }
    }
    #header--logo{
        #logo-large{
            display: none;
        }
    }
    #header--nav--buttons{
        a{
            display: none;
        }
    }
    .popup-message{
        display: none;
    }
    .footer{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto auto auto auto auto auto auto;
        padding: $container--padd-min;

        #footer--logo{
            grid-column: 1 / 3;
            margin: 0;
            height: 100%;
            padding-bottom: $container--padd-min;
            @include flex;
        }
        #footer--buttons{
            grid-column: 1 / 3;
            grid-row: 4 / 5;
            padding: initial;
            padding-top: $container--padd-min;
            @include flex;
            border: 0;

            :nth-child(4){
                display: none;
            }
        }
        #footer--number{
            border: 0;
            padding: initial;
            grid-column: 1 / 3;
            grid-row: 5 / 6;
            
            p{
                position: initial;
                justify-content: center;
                margin-bottom: 0;
            }
        }
        #footer--adress{
            padding: initial;
            grid-column: 1 / 3;
            grid-row: 6 / 7;
            text-align: center;
            border-top: 0;
            p{
                position: initial;
                margin-top: 8px;
            }
        }
        #footer--links{
            text-align: center;
            grid-column: 1 / 3;
            grid-row: 7 / 8;
        }
        #footer--currencies{
            grid-column: 1 / 3;
            grid-row: 8 / 9;
            @include flex(center,center);
            gap: $gap--min;
        }
        div{
            > img{
                height: $i--font-size-min;
            }
        }
        #cryptocurrencies{
            min-width: 72px;
            @include flex;
            gap: $gap--min;
            padding: $gap--min;
        }
    }
    .cookie-consent{
        flex-direction: column;
        padding: $container--padd-min;

        span{
            margin-bottom: $container--padd-min
        }
    }
    /**
      * * SMALL HOME VIEW
      */
    #main--products{
        margin: $container--padd-min;
        padding: 0;
    }
    #container--catalog{
        width: 100%;
        max-width: none;
        min-width: none;
    }
    #catalog{
        gap: $gap--min;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .product--card{
        width: 100%;
        height: 145px;
        min-width: initial;
        max-width: initial;
        display: grid;
        grid-template-columns: 145px auto;

        &:hover .product--image-cover{
            opacity: 1;
        }

        .product--image{
            height: 100%;
            border-bottom: 0;
            border-right: $border--px solid setcolor(gray, light);

            .label{
                right: $container--padd-micro;
                top: $container--padd-micro;
            }
        }

        .product--info{
            padding: $container--padd-min;
            grid-template-columns: auto 100px;

            #product--title{
                margin: 0;
                font-size: $paragraph--font-size;
            }
            #product--description{
                margin: 0;
            }
            #product--price{
                grid-column: 1 / 3;
                grid-row: 3 / 4;
                font-size: 18px;
            }
            #product--orig-price{
                opacity: 1;
                transform: translateY(0);
                grid-column: 1 / 2;
                @include flex(flex-end, left);
            }
            #product--discount{
                grid-column: 2 / 3;
            }
        }
    }
    #panel{
        #paginate{
            margin-top: 0;
    
            #elements{
                #buttons{
                    @include flex(center, left);
                    overflow-x: scroll;
                }
            }
            #arrow-l, #arrow-r{
                display: none;
            }
        }
    }
    /**
      * * SMALL PRODUCT VIEW
      */
    #product--info, #product--specs, #product--wty, .container-breadcrumb-product{
        width: calc(100% - 30px);
        min-width: 0;
        margin: $container--padd-min;
    }
    .container-breadcrumb-product{
        padding: 0;
        margin: 0;
        margin-left: $container--padd-min;

        .breadcrumb{
            margin-bottom: 0;
        }
    }
    #product--info{
        flex-direction: column;

        #container--imgs{
            display: none;
        }
        #container--dets{
            width: 100%;

            h1{
                font-size: $title--font-size;
            }
            h2{
                font-size: 18.72px;
            }


            #info--orig-price{
                font-size: $head--font-size;
            }

            #info--units{
                position: initial;
                bottom: initial;
            }
            #info--buy{
                position: initial;
                bottom: initial;
            }
        }
    }
    #product--specs-items{
        flex-wrap: nowrap;

        h1{
            font-size: $title--font-size;
        }

        section{
            column-gap: 0;
            row-gap: 0;
            max-height: 4000px;

            .item{
                margin-bottom: $container--padd-micro;
            }
        }
    }
    #product--wty-items{
        gap: $gap--min;
        flex-direction: column;

        div{
            padding: $container--padd-min;
        }
    }
    #product--index{
        display: none;
    }
    /**
      * * SMALL PANEL VIEW
      */
    #panel{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        
        nav:first-child{
            width: 100%;
            height: 53px;
            position: initial;
            border-radius: $border--rad-mid;
            border: 0;
            padding-bottom: 3px;
            display: grid;
            grid-template-columns: 80px auto 35px 35px;
            gap: $gap--min;
            
            a{
                h2{
                    text-align: center;
                    margin: 0;
                    line-height: 33px;
                    vertical-align: middle;
                }
            }
            #logout{
                position: initial;
            }
            span{
                display: none;
            }
            #stock{
                display: none;
            }
        }
        header, main{
            width: 100%;
            margin-left: 0;
        }
        main{
            overflow-x: scroll;
            width: calc(100% - 30px);
            overflow-x: scroll;
            border: $border--px solid setcolor(gray, light);
            border-radius: $border--rad-mid;
            margin: $container--padd-min;
        }
        header{
            display: grid;
            grid-template-columns: 129px auto auto;
            grid-template-rows: auto auto;
            column-gap: 0;
            row-gap: $gap--mid;
            justify-content: initial;
            padding: $container--padd-min;
            position: sticky;
            background: setcolor(white);
            z-index: 2;
            margin-bottom: 0;
            border-bottom: $border--px solid setcolor(gray, light);

            h2{
                display: none;
            }
            form{
                grid-column: 1 / 4;
                grid-row: 2 / 3;
                width: 100%;
                input{
                    width: 100%;
                    min-width: none;
                    max-width: none;
                }
            }
            .btn-create{
                grid-column: 1 / 2;
                grid-row: 1 / 2;
            }
            a{
                margin-left: $gap--mid;
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                .manual{
                    margin: 0;
                }
                max-width: fit-content;
            }
            .message{
                justify-content: flex-end;
                grid-column: 3 / 4;
                grid-row: 1 / 2;
            }
        }
        .main-panel-table{
            .table-container{
                border: 0;
                .table-panel{
                    min-width: 750px;
                    border: 0;
                    font-size: $paragraph--font-size--docs;

                    thead{
                        tr{
                            th:first-child{
                                border-top-left-radius: $border--rad-min;
                            }
                            th:last-child{
                                border-top-right-radius: $border--rad-min;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                padding: $container--padd-min;
                            }
                            &:last-child{
                                td:first-child{
                                    border-bottom-left-radius: $border--rad-min;
                                }
                                td:last-child{
                                    border-bottom-right-radius: $border--rad-min;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .modal-container--panel{
        position: fixed;
        .modal{
            width: 100%;
            height: 100%;
            border: 0;
            margin: 0;
            border-radius: 0;
            max-width: none;
            padding: 0;
    
            .content{
                padding: $container--padd-min;
                padding-top: 0;
    
                .header{
                    margin: 0;
                    grid-template-rows: auto auto;
                    grid-template-columns: 43px auto 127px;
    
                    h2{
                        padding: $container--padd-min 0 $container--padd-min 0;
                        grid-column: 1 / 4;
                        grid-row: 1 / 2;
                    }
                    .btn-submit{
                        grid-column: 3 / 4;
                        grid-row: 2 / 3;
                    }
                    .btn-close{
                        width: initial;
                    }
                }
                .group{
                    width: 100%;
    
                    select{
                        background: setcolor(white);
                    }
                    .fields{
                        flex-flow: column wrap;
    
                        .item{
                            .discod{
                                select{
                                    margin-left: $gap--mid;
                                }
                            }
                            textarea{
                                width: 100%;
                                height: 70px;
                            }
                            .file-upload{
                                width: calc(50% - 7.5px);
    
                                .file{
                                    width: 100%;
                                }
                                .popup-confirm{
                                    width: 100%;
                                    min-width: 185px;
                                    transform: translate(0);
                                }
                            }
                        }
                    }
                }
                .subgroup{
                    .fields{
                        display: flex;
                        flex-flow: column wrap;
                    }
                }
                .input{
                    min-width: 100px;
                }
            }
        }
        .modal-mid{
            width: 100%;
            height: auto;
            position: absolute;
            top: 0;
            
            .content{
                .header{
                    padding-bottom: 0;
                }
            }
        }
    }
}
@include large{
    #responsive-indicator::before{
        content: "Large size";
    }   
    #universal--container{
        min-width: 1200px;
        border: 0;
    }
    #logo-tiny{
        display: none;
    }
    #header--nav--buttons{
        .menu{
            display: none;
        }
    }
    .static-message{
        display: none;
    }
    .menu--container{
       display: none;
    }
    .modal{
        .content{
            &::-webkit-scrollbar {
                width: 10px;
            }
            &::-webkit-scrollbar-track {
                background: transparent; 
                border: $border--px solid setcolor(gray, light);
                border-radius: 50px;
            }
            &::-webkit-scrollbar-thumb {
                background-color: setcolor(gray);
                border-radius: 50px;
            }
        }
    }
    // .cookie-consent__message{
        // @include flex(center, left);
    // }
    .table-container{
        &::-webkit-scrollbar {
            height: 10px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #C0C0C0;
            border-radius: $border--rad-mid;
        }
    }
    /**
      * * LARGE PRODUCT VIEW
      */
    .touch-slider{
        display: none;
    }
    #container--catalog{
        min-width: $cont--p-card--min-width;
    }
    #product--specs-items{
        section{
            width: 100%;
            max-height: 1510px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            column-gap: $gap--max;

            .item{
                width: calc(50% - 12.5px);
            }
        }
    }
    /**
      * * LARGE PANEL VIEW
      */
    nav:first-child{
      h2{
          display: none;
      }
    }
    #panel{
        header{
            .message{
                width: 150px;
                min-width: 150px;
                justify-content: flex-end;
            }
        }
    }
    #footer--links{
        display: flex;
        align-items: left;
    }
    
}
@include xlarge{
    #responsive-indicator::before{
        content: "xLarge size";
    } 
    #container--catalog{
        min-width: 1275px;
        max-width: 1275px;
    }
}