// * SIZES
// * https://www.geeksforgeeks.org/how-to-target-desktop-tablet-and-mobile-using-media-query/

$screen--tn-max: 480px;
$screen--sm-max: 767px;
$screen--md-max: 1024px;
$screen--lg-max: 1280px;
$screen--xl-min: 1281px;

// * Responsive indicator
#responsive-indicator{
    position: fixed;
    z-index: 2;
    background: yellow;
    top: 100px;

    a{
        text-decoration: underline;
    }
}

// * MIXINS
// Dispositivos móviles
@mixin tiny{
    @media (max-width: #{$screen--tn-max}){
        @content;
    }
}
// Tablet y Ipad pequeñas
@mixin small{
    @media (min-width: #{$screen--tn-max + 1}) and (max-width: #{$screen--sm-max}) {
        @content;
    }
}
// Tablet y Ipad en vista vertical
@mixin medium{
    @media(min-width: #{$screen--sm-max + 1}) and (max-width: #{$screen--md-max}){
        @content;
    }
}
// Laptop y computadora 
@mixin large{
    @media (min-width: #{$screen--md-max + 1}) and (max-width: #{$screen--lg-max}) {
        @content;
    }
}
// Extra large devices
@mixin xlarge{
    @media(min-width: #{$screen--xl-min}){
        @content;
    }
}

// * MEDIA
@include tiny{
    #responsive-indicator::before{
        content: 'Tiny (Móvil)';
    }
}
@include small{
    #responsive-indicator::before{
        content: "Small (Tablet pequeña)";
    }
}
@include medium{
    #responsive-indicator::before{
        content: "Medium (Tablet vertical))";
    }
}
@include large{
    #responsive-indicator::before{
        content: "Large size (Laptop y monitor)";
    }   
}
@include xlarge{
    #responsive-indicator::before{
        content: "XLarge size (Monitor extra largo)";
    }
}