// * Font
$head--font-size: 32px;
$title--font-size: 24px;
$paragraph--font-size: 14px;
$description--font-size: 14px;
$font--margin: 16px;

// * Button
$button--font-size: 15px;
$border--px: 1px;
$border--rad-min: 6px;
$border--rad-mid: 8px;
$border--rad-max: 15px;
$outline--px: 3px;

// * Paddings and margins
$container--padd-min: 15px;
$container--padd-max: 25px;
$container--padd-mix: 25px 100px;
$container--padd-mix-compact: 25px 250px;
$button-text--padd: 10px 25px;
$label-text--padd: 7px 15px;
$main--padd: 25px 50px;

// * Icons
$i--font-size-min: 20px;
$i--font-size-mid: 30px;
$i--font-size-max: 35px;
$i--font-size-mega: 50px;

// * Gap
$gap--min: 10px;
$gap--max: 25px;

// * Width
// Container product card
$cont--p-card--min-width: 1075px;

// * Animations
$short--animation-duration: .1s;
$logo--animation-duration: 2s;

// * Logo
$logo--height-min: 30px;
$logo--height-max: 35px;